/* g.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box
}

*,*:before,*:after {
    box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {
    display: block
}

summary {
    display: list-item
}

audio,canvas,progress,video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,input,select,textarea,optgroup {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/* End extract */
html,body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.g-serif {
    font-family: serif
}

.g-sans-serif {
    font-family: sans-serif
}

.g-cursive {
    font-family: cursive
}

.g-monospace {
    font-family: monospace
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.g-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.g-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.g-table,.g-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.g-table-all {
    border: 1px solid #ccc
}

.g-bordered tr,.g-table-all tr {
    border-bottom: 1px solid #ddd
}

.g-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.g-table-all tr:nth-child(odd) {
    background-color: #fff
}

.g-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.g-hoverable tbody tr:hover,.g-ul.g-hoverable li:hover {
    background-color: #ccc
}

.g-centered tr th,.g-centered tr td {
    text-align: center
}

.g-table td,.g-table th,.g-table-all td,.g-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

.g-table th:first-child,.g-table td:first-child,.g-table-all th:first-child,.g-table-all td:first-child {
    padding-left: 16px
}

.g-btn,.g-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.g-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.g-btn,.g-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.g-disabled,.g-btn:disabled,.g-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.g-disabled *,:disabled * {
    pointer-events: none
}

.g-btn.g-disabled:hover,.g-btn:disabled:hover {
    box-shadow: none
}

.g-badge,.g-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.g-badge {
    border-radius: 50%
}

.g-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.g-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.g-ul li:last-child {
    border-bottom: none
}

.g-tooltip,.g-display-container {
    position: relative
}

.g-tooltip .g-text {
    display: none
}

.g-tooltip:hover .g-text {
    display: inline-block
}

.g-ripple:active {
    opacity: 0.5
}

.g-ripple {
    transition: opacity 0s
}

.g-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.g-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.g-dropdown-click,.g-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.g-dropdown-hover:hover .g-dropdown-content {
    display: block
}

.g-dropdown-hover:first-child,.g-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}

.g-dropdown-hover:hover > .g-button:first-child,.g-dropdown-click:hover > .g-button:first-child {
    background-color: #ccc;
    color: #000
}

.g-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.g-check,.g-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.g-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}

.g-bar-block .g-dropdown-hover,.g-bar-block .g-dropdown-click {
    width: 100%
}

.g-bar-block .g-dropdown-hover .g-dropdown-content,.g-bar-block .g-dropdown-click .g-dropdown-content {
    min-width: 100%
}

.g-bar-block .g-dropdown-hover .g-button,.g-bar-block .g-dropdown-click .g-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.g-main,#main {
    transition: margin-left .4s
}

.g-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.g-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.g-bar {
    width: 100%;
    overflow: hidden
}

.g-center .g-bar {
    display: inline-block;
    width: auto
}

.g-bar .g-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.g-bar .g-dropdown-hover,.g-bar .g-dropdown-click {
    position: static;
    float: left
}

.g-bar .g-button {
    white-space: normal
}

.g-bar-block .g-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.g-bar-block.g-center .g-bar-item {
    text-align: center
}

.g-block {
    display: block;
    width: 100%
}

.g-responsive {
    display: block;
    overflow-x: auto
}

.g-container:after,.g-container:before,.g-panel:after,.g-panel:before,.g-row:after,.g-row:before,.g-row-padding:after,.g-row-padding:before, .g-cell-row:before,.g-cell-row:after,.g-clear:after,.g-clear:before,.g-bar:before,.g-bar:after {
    content: "";
    display: table;
    clear: both
}

.g-col,.g-half,.g-third,.g-twothird,.g-threequarter,.g-quarter {
    float: left;
    width: 100%
}

.g-col.s1 {
    width: 8.33333%
}

.g-col.s2 {
    width: 16.66666%
}

.g-col.s3 {
    width: 24.99999%
}

.g-col.s4 {
    width: 33.33333%
}

.g-col.s5 {
    width: 41.66666%
}

.g-col.s6 {
    width: 49.99999%
}

.g-col.s7 {
    width: 58.33333%
}

.g-col.s8 {
    width: 66.66666%
}

.g-col.s9 {
    width: 74.99999%
}

.g-col.s10 {
    width: 83.33333%
}

.g-col.s11 {
    width: 91.66666%
}

.g-col.s12 {
    width: 99.99999%
}

@media (min-width: 601px) {
    .g-col.m1 {
        width:8.33333%
    }

    .g-col.m2 {
        width: 16.66666%
    }

    .g-col.m3,.g-quarter {
        width: 24.99999%
    }

    .g-col.m4,.g-third {
        width: 33.33333%
    }

    .g-col.m5 {
        width: 41.66666%
    }

    .g-col.m6,.g-half {
        width: 49.99999%
    }

    .g-col.m7 {
        width: 58.33333%
    }

    .g-col.m8,.g-twothird {
        width: 66.66666%
    }

    .g-col.m9,.g-threequarter {
        width: 74.99999%
    }

    .g-col.m10 {
        width: 83.33333%
    }

    .g-col.m11 {
        width: 91.66666%
    }

    .g-col.m12 {
        width: 99.99999%
    }
}

@media (min-width: 993px) {
    .g-col.l1 {
        width:8.33333%
    }

    .g-col.l2 {
        width: 16.66666%
    }

    .g-col.l3 {
        width: 24.99999%
    }

    .g-col.l4 {
        width: 33.33333%
    }

    .g-col.l5 {
        width: 41.66666%
    }

    .g-col.l6 {
        width: 49.99999%
    }

    .g-col.l7 {
        width: 58.33333%
    }

    .g-col.l8 {
        width: 66.66666%
    }

    .g-col.l9 {
        width: 74.99999%
    }

    .g-col.l10 {
        width: 83.33333%
    }

    .g-col.l11 {
        width: 91.66666%
    }

    .g-col.l12 {
        width: 99.99999%
    }
}

.g-rest {
    overflow: hidden
}

.g-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.g-content,.g-auto {
    margin-left: auto;
    margin-right: auto
}

.g-content {
    max-width: 980px
}

.g-auto {
    max-width: 1140px
}

.g-cell-row {
    display: table;
    width: 100%
}

.g-cell {
    display: table-cell
}

.g-cell-top {
    vertical-align: top
}

.g-cell-middle {
    vertical-align: middle
}

.g-cell-bottom {
    vertical-align: bottom
}

.g-hide {
    display: none!important
}

.g-show-block,.g-show {
    display: block!important
}

.g-show-inline-block {
    display: inline-block!important
}

@media (max-width: 1205px) {
    .g-auto {
        max-width:95%
    }
}

@media (max-width: 600px) {
    .g-modal-content {
        margin:0 10px;
        width: auto!important
    }

    .g-modal {
        padding-top: 30px
    }

    .g-dropdown-hover.g-mobile .g-dropdown-content,.g-dropdown-click.g-mobile .g-dropdown-content {
        position: relative
    }

    .g-hide-small {
        display: none!important
    }

    .g-mobile {
        display: block;
        width: 100%!important
    }

    .g-bar-item.g-mobile,.g-dropdown-hover.g-mobile,.g-dropdown-click.g-mobile {
        text-align: center
    }

    .g-dropdown-hover.g-mobile,.g-dropdown-hover.g-mobile .g-btn,.g-dropdown-hover.g-mobile .g-button,.g-dropdown-click.g-mobile,.g-dropdown-click.g-mobile .g-btn,.g-dropdown-click.g-mobile .g-button {
        width: 100%
    }
}

@media (max-width: 768px) {
    .g-modal-content {
        width:500px
    }

    .g-modal {
        padding-top: 50px
    }
}

@media (min-width: 993px) {
    .g-modal-content {
        width:900px
    }

    .g-hide-large {
        display: none!important
    }

    .g-sidebar.g-collapse {
        display: block!important
    }
}

@media (max-width: 992px) and (min-width:601px) {
    .g-hide-medium {
        display:none!important
    }
}

@media (max-width: 992px) {
    .g-sidebar.g-collapse {
        display:none
    }

    .g-main {
        margin-left: 0!important;
        margin-right: 0!important
    }

    .g-auto {
        max-width: 100%
    }
}

.g-top,.g-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.g-top {
    top: 0
}

.g-bottom {
    bottom: 0
}

.g-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2
}

.g-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.g-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.g-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.g-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.g-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

.g-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%)
}

.g-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%)
}

.g-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.g-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.g-display-container:hover .g-display-hover {
    display: block
}

.g-display-container:hover span.g-display-hover {
    display: inline-block
}

.g-display-hover {
    display: none
}

.g-display-position {
    position: absolute
}

.g-circle {
    border-radius: 50%
}

.g-round-small {
    border-radius: 2px
}

.g-round,.g-round-medium {
    border-radius: 4px
}

.g-round-large {
    border-radius: 8px
}

.g-round-xlarge {
    border-radius: 16px
}

.g-round-xxlarge {
    border-radius: 32px
}

.g-row-padding,.g-row-padding>.g-half,.g-row-padding>.g-third,.g-row-padding>.g-twothird,.g-row-padding>.g-threequarter,.g-row-padding>.g-quarter,.g-row-padding>.g-col {
    padding: 0 8px
}

.g-container,.g-panel {
    padding: 0.01em 16px
}

.g-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.g-code,.g-codespan {
    font-family: Consolas,"courier new";
    font-size: 16px
}

.g-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.g-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.g-card,.g-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.g-card-4,.g-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.g-spin {
    animation: g-spin 2s infinite linear
}

@keyframes g-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.g-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.g-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.g-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.g-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.g-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.g-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.g-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.g-animate-input {
    transition: width 0.4s ease-in-out
}

.g-animate-input:focus {
    width: 100%!important
}

.g-opacity,.g-hover-opacity:hover {
    opacity: 0.60
}

.g-opacity-off,.g-hover-opacity-off:hover {
    opacity: 1
}

.g-opacity-max {
    opacity: 0.25
}

.g-opacity-min {
    opacity: 0.75
}

.g-greyscale-max,.g-grayscale-max,.g-hover-greyscale:hover,.g-hover-grayscale:hover {
    filter: grayscale(100%)
}

.g-greyscale,.g-grayscale {
    filter: grayscale(75%)
}

.g-greyscale-min,.g-grayscale-min {
    filter: grayscale(50%)
}

.g-sepia {
    filter: sepia(75%)
}

.g-sepia-max,.g-hover-sepia:hover {
    filter: sepia(100%)
}

.g-sepia-min {
    filter: sepia(50%)
}

.g-tiny {
    font-size: 10px!important
}

.g-small {
    font-size: 12px!important
}

.g-medium {
    font-size: 15px!important
}

.g-large {
    font-size: 18px!important
}

.g-xlarge {
    font-size: 24px!important
}

.g-xxlarge {
    font-size: 36px!important
}

.g-xxxlarge {
    font-size: 48px!important
}

.g-jumbo {
    font-size: 64px!important
}

.g-left-align {
    text-align: left!important
}

.g-right-align {
    text-align: right!important
}

.g-justify {
    text-align: justify!important
}

.g-center {
    text-align: center!important
}

.g-border-0 {
    border: 0!important
}

.g-border {
    border: 1px solid #ccc!important
}

.g-border-top {
    border-top: 1px solid #ccc!important
}

.g-border-bottom {
    border-bottom: 1px solid #ccc!important
}

.g-border-left {
    border-left: 1px solid #ccc!important
}

.g-border-right {
    border-right: 1px solid #ccc!important
}

.g-topbar {
    border-top: 6px solid #ccc!important
}

.g-bottombar {
    border-bottom: 6px solid #ccc!important
}

.g-leftbar {
    border-left: 6px solid #ccc!important
}

.g-rightbar {
    border-right: 6px solid #ccc!important
}

.g-section,.g-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.g-margin {
    margin: 16px!important
}

.g-margin-top {
    margin-top: 16px!important
}

.g-margin-bottom {
    margin-bottom: 16px!important
}

.g-margin-left {
    margin-left: 16px!important
}

.g-margin-right {
    margin-right: 16px!important
}

.g-padding-small {
    padding: 4px 8px!important
}

.g-padding {
    padding: 8px 16px!important
}

.g-padding-large {
    padding: 12px 24px!important
}

.g-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.g-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}

.g-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.g-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}

.g-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.g-padding-top-64 {
    padding-top: 64px!important
}

.g-padding-top-48 {
    padding-top: 48px!important
}

.g-padding-top-32 {
    padding-top: 32px!important
}

.g-padding-top-24 {
    padding-top: 24px!important
}

.g-left {
    float: left!important
}

.g-right {
    float: right!important
}

.g-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.g-transparent,.g-hover-none:hover {
    background-color: transparent!important
}

.g-hover-none:hover {
    box-shadow: none!important
}

/* Colors */
.g-amber,.g-hover-amber:hover {
    color: #000!important;
    background-color: #ffc107!important
}

.g-aqua,.g-hover-aqua:hover {
    color: #000!important;
    background-color: #00ffff!important
}

.g-blue,.g-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important
}

.g-light-blue,.g-hover-light-blue:hover {
    color: #000!important;
    background-color: #87CEEB!important
}

.g-brown,.g-hover-brown:hover {
    color: #fff!important;
    background-color: #795548!important
}

.g-cyan,.g-hover-cyan:hover {
    color: #000!important;
    background-color: #00bcd4!important
}

.g-blue-grey,.g-hover-blue-grey:hover,.g-blue-gray,.g-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #607d8b!important
}

.g-green,.g-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important
}

.g-light-green,.g-hover-light-green:hover {
    color: #000!important;
    background-color: #8bc34a!important
}

.g-indigo,.g-hover-indigo:hover {
    color: #fff!important;
    background-color: #3f51b5!important
}

.g-khaki,.g-hover-khaki:hover {
    color: #000!important;
    background-color: #f0e68c!important
}

.g-lime,.g-hover-lime:hover {
    color: #000!important;
    background-color: #cddc39!important
}

.g-orange,.g-hover-orange:hover {
    color: #000!important;
    background-color: #ff9800!important
}

.g-deep-orange,.g-hover-deep-orange:hover {
    color: #fff!important;
    background-color: #ff5722!important
}

.g-pink,.g-hover-pink:hover {
    color: #fff!important;
    background-color: #e91e63!important
}

.g-purple,.g-hover-purple:hover {
    color: #fff!important;
    background-color: #9c27b0!important
}

.g-deep-purple,.g-hover-deep-purple:hover {
    color: #fff!important;
    background-color: #673ab7!important
}

.g-red,.g-hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important
}

.g-sand,.g-hover-sand:hover {
    color: #000!important;
    background-color: #fdf5e6!important
}

.g-teal,.g-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important
}

.g-yellow,.g-hover-yellow:hover {
    color: #000!important;
    background-color: #ffeb3b!important
}

.g-white,.g-hover-white:hover {
    color: #000!important;
    background-color: #fff!important
}

.g-black,.g-hover-black:hover {
    color: #fff!important;
    background-color: #000!important
}

.g-grey,.g-hover-grey:hover,.g-gray,.g-hover-gray:hover {
    color: #000!important;
    background-color: #9e9e9e!important
}

.g-light-grey,.g-hover-light-grey:hover,.g-light-gray,.g-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important
}

.g-dark-grey,.g-hover-dark-grey:hover,.g-dark-gray,.g-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important
}

.g-pale-red,.g-hover-pale-red:hover {
    color: #000!important;
    background-color: #ffdddd!important
}

.g-pale-green,.g-hover-pale-green:hover {
    color: #000!important;
    background-color: #ddffdd!important
}

.g-pale-yellow,.g-hover-pale-yellow:hover {
    color: #000!important;
    background-color: #ffffcc!important
}

.g-pale-blue,.g-hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important
}

.g-text-amber,.g-hover-text-amber:hover {
    color: #ffc107!important
}

.g-text-aqua,.g-hover-text-aqua:hover {
    color: #00ffff!important
}

.g-text-blue,.g-hover-text-blue:hover {
    color: #2196F3!important
}

.g-text-light-blue,.g-hover-text-light-blue:hover {
    color: #87CEEB!important
}

.g-text-brown,.g-hover-text-brown:hover {
    color: #795548!important
}

.g-text-cyan,.g-hover-text-cyan:hover {
    color: #00bcd4!important
}

.g-text-blue-grey,.g-hover-text-blue-grey:hover,.g-text-blue-gray,.g-hover-text-blue-gray:hover {
    color: #607d8b!important
}

.g-text-green,.g-hover-text-green:hover {
    color: #4CAF50!important
}

.g-text-light-green,.g-hover-text-light-green:hover {
    color: #8bc34a!important
}

.g-text-indigo,.g-hover-text-indigo:hover {
    color: #3f51b5!important
}

.g-text-khaki,.g-hover-text-khaki:hover {
    color: #b4aa50!important
}

.g-text-lime,.g-hover-text-lime:hover {
    color: #cddc39!important
}

.g-text-orange,.g-hover-text-orange:hover {
    color: #ff9800!important
}

.g-text-deep-orange,.g-hover-text-deep-orange:hover {
    color: #ff5722!important
}

.g-text-pink,.g-hover-text-pink:hover {
    color: #e91e63!important
}

.g-text-purple,.g-hover-text-purple:hover {
    color: #9c27b0!important
}

.g-text-deep-purple,.g-hover-text-deep-purple:hover {
    color: #673ab7!important
}

.g-text-red,.g-hover-text-red:hover {
    color: #f44336!important
}

.g-text-sand,.g-hover-text-sand:hover {
    color: #fdf5e6!important
}

.g-text-teal,.g-hover-text-teal:hover {
    color: #009688!important
}

.g-text-yellow,.g-hover-text-yellow:hover {
    color: #d2be0e!important
}

.g-text-white,.g-hover-text-white:hover {
    color: #fff!important
}

.g-text-black,.g-hover-text-black:hover {
    color: #000!important
}

.g-text-grey,.g-hover-text-grey:hover,.g-text-gray,.g-hover-text-gray:hover {
    color: #757575!important
}

.g-text-light-grey,.g-hover-text-light-grey:hover,.g-text-light-gray,.g-hover-text-light-gray:hover {
    color: #f1f1f1!important
}

.g-text-dark-grey,.g-hover-text-dark-grey:hover,.g-text-dark-gray,.g-hover-text-dark-gray:hover {
    color: #3a3a3a!important
}

.g-border-amber,.g-hover-border-amber:hover {
    border-color: #ffc107!important
}

.g-border-aqua,.g-hover-border-aqua:hover {
    border-color: #00ffff!important
}

.g-border-blue,.g-hover-border-blue:hover {
    border-color: #2196F3!important
}

.g-border-light-blue,.g-hover-border-light-blue:hover {
    border-color: #87CEEB!important
}

.g-border-brown,.g-hover-border-brown:hover {
    border-color: #795548!important
}

.g-border-cyan,.g-hover-border-cyan:hover {
    border-color: #00bcd4!important
}

.g-border-blue-grey,.g-hover-border-blue-grey:hover,.g-border-blue-gray,.g-hover-border-blue-gray:hover {
    border-color: #607d8b!important
}

.g-border-green,.g-hover-border-green:hover {
    border-color: #4CAF50!important
}

.g-border-light-green,.g-hover-border-light-green:hover {
    border-color: #8bc34a!important
}

.g-border-indigo,.g-hover-border-indigo:hover {
    border-color: #3f51b5!important
}

.g-border-khaki,.g-hover-border-khaki:hover {
    border-color: #f0e68c!important
}

.g-border-lime,.g-hover-border-lime:hover {
    border-color: #cddc39!important
}

.g-border-orange,.g-hover-border-orange:hover {
    border-color: #ff9800!important
}

.g-border-deep-orange,.g-hover-border-deep-orange:hover {
    border-color: #ff5722!important
}

.g-border-pink,.g-hover-border-pink:hover {
    border-color: #e91e63!important
}

.g-border-purple,.g-hover-border-purple:hover {
    border-color: #9c27b0!important
}

.g-border-deep-purple,.g-hover-border-deep-purple:hover {
    border-color: #673ab7!important
}

.g-border-red,.g-hover-border-red:hover {
    border-color: #f44336!important
}

.g-border-sand,.g-hover-border-sand:hover {
    border-color: #fdf5e6!important
}

.g-border-teal,.g-hover-border-teal:hover {
    border-color: #009688!important
}

.g-border-yellow,.g-hover-border-yellow:hover {
    border-color: #ffeb3b!important
}

.g-border-white,.g-hover-border-white:hover {
    border-color: #fff!important
}

.g-border-black,.g-hover-border-black:hover {
    border-color: #000!important
}

.g-border-grey,.g-hover-border-grey:hover,.g-border-gray,.g-hover-border-gray:hover {
    border-color: #9e9e9e!important
}

.g-border-light-grey,.g-hover-border-light-grey:hover,.g-border-light-gray,.g-hover-border-light-gray:hover {
    border-color: #f1f1f1!important
}

.g-border-dark-grey,.g-hover-border-dark-grey:hover,.g-border-dark-gray,.g-hover-border-dark-gray:hover {
    border-color: #616161!important
}

.g-border-pale-red,.g-hover-border-pale-red:hover {
    border-color: #ffe7e7!important
}

.g-border-pale-green,.g-hover-border-pale-green:hover {
    border-color: #e7ffe7!important
}

.g-border-pale-yellow,.g-hover-border-pale-yellow:hover {
    border-color: #ffffcc!important
}

.g-border-pale-blue,.g-hover-border-pale-blue:hover {
    border-color: #e7ffff!important
}
